### Dataset

Name of the data set: **30Columnists**

The dataset consists of 50 articles for each of the 30 authors.

[Here](http://www.kemik.yildiz.edu.tr/veri_kumelerimiz.html) is the link to dataset.

### Load Dataset

> Load the dataset, unzip it, remove unnecessary stuff, construct the dataframe out of it with respect to columns **[author, article]**.

> **You can use the curl command the download dataset from its source *(1)*. You can upload the dataset yourself *(2)*.**

In [1]:
# 1
!curl http://www.kemik.yildiz.edu.tr/data/File/30Columnists.zip -o ./30Columnists.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 7208k  100 7208k    0     0   430k      0  0:00:16  0:00:16 --:--:--  452k

In [2]:
# 2
#from google.colab import files
#uploaded = files.upload()

In [3]:
!unzip /content/30Columnists.zip -d /content > /dev/null

In [4]:
# Remove unnecessary files and directories
!rm -f /content/30Columnists/*.doc
!rm -f /content/30Columnists/*.tmp
!rm -rf /content/30Columnists/arff_files
!mv /content/30Columnists/raw_texts/* /content/30Columnists
!rmdir /content/30Columnists/raw_texts

In [5]:
# Get authors
import os
PATH = "/content/30Columnists"

authors = []
for author in os.listdir(PATH):
  authors.append(author)

authors.sort(key = lambda a: int(a))
print(authors)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']

In [6]:
# Read every article of each author and append to dataset
import re
dataset = []  #Â [[author, article], [author, article], ...]
for author in authors:
  author_path = os.path.join(PATH, author)
  for article_file in os.listdir(author_path):
    if article_file.endswith(".txt"):
      article_path = os.path.join(author_path, article_file)
      with open(article_path, "rb") as f:
        article = f.read().decode("iso-8859-9")

        article = re.sub(r"[\n\r\f\x96]", "", article)
        dataset.append([author, article])

In [7]:
article_count = {}
for author in authors:
  article_count.update({author: 0})

for row in dataset:
  author = row[0]
  count = article_count[author]
  article_count.update({author: count+1})

for author in authors:
  print(f"{author:>2}\t{article_count[author]}")

 1	50
 2	50
 3	50
 4	50
 5	50
 6	50
 7	50
 8	50
 9	50
10	50
11	50
12	50
13	50
14	50
15	50
16	50
17	50
18	50
19	50
20	50
21	50
22	50
23	50
24	50
25	50
26	50
27	50
28	50
29	50
30	50

In [8]:
import pandas as pd

dataset = pd.DataFrame(dataset, columns=["author", "article"])
print(dataset)

     author                                            article
0         1  WHY is it  that some politicians think that if...
1         1  PRIVATE bets are now being taken in the Scotti...
2         1  IT was meant to be flagship policy, designed t...
3         1  THERE's always a risk of writing about the sta...
4         1  HOW was it for you? Have you already had the R...
...     ...                                                ...
1495     30  One bad thing about days like Monday and Wedne...
1496     30  Learning goes on all the time in the business ...
1497     30  All you'd have to remember is plugging in the ...
1498     30  We the People were smart enough to write a Con...
1499     30  Imagine an airline putting its worst foot forw...

[1500 rows x 2 columns]

### Tokenization, Punctuations, Stop Words, Case Folding

> Tokeinize, remove punctuations and stopwords, apply case folding.

In [9]:
# nltk library for tokenizing, punctuations and stopwords
import nltk
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [10]:
from nltk.corpus import stopwords
nltk.download("stopwords")
stop_words = stopwords.words("english")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [11]:
print(len(stop_words), stop_words)

179 ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
from nltk import word_tokenize
import re
# Tokenizing, removing punctuations and stopwords, applying case folding
for idx, row in dataset.iterrows():
  dataset.at[idx, "article"] = [token.lower() for token in word_tokenize(re.sub(r"\.", " . ", row["article"])) if token.isalpha() and (token.lower() not in stop_words)]

In [13]:
print(dataset)

     author                                            article
0         1  [politicians, think, ban, something, make, dif...
1         1  [private, bets, taken, scottish, parliament, f...
2         1  [meant, flagship, policy, designed, show, snp,...
3         1  [always, risk, writing, state, worlds, financi...
4         1  [already, rennies, resolve, ibuprofen, cocktai...
...     ...                                                ...
1495     30  [one, bad, thing, days, like, monday, wednesda...
1496     30  [learning, goes, time, business, life, constan...
1497     30  [remember, plugging, car, night, full, tank, m...
1498     30  [people, smart, enough, write, constitution, f...
1499     30  [imagine, airline, putting, worst, foot, forwa...

[1500 rows x 2 columns]

### Train-Test Splits

> Split dataset into 2 parts **train dataset** (80%) and **test dataset** (20%).

In [14]:
# Train Dataset
train_dataset = dataset.sample(frac=0.8, random_state=1)

In [15]:
train_dataset

     author                                            article
91        2  [first, indications, alistair, darling, packag...
75        2  [seven, days, humiliation, budget, rejected, s...
1264     26  [harry, redknapp, probably, thinks, credit, cr...
330       7  [guardian, publication, today, amateur, footag...
1349     27  [latest, hyped, study, potential, link, cell, ...
...     ...                                                ...
652      14  [living, society, tony, adams, said, week, mus...
70        2  [wendy, alexander, faces, major, test, weekend...
610      13  [movie, trainspotting, sick, boy, played, jonn...
1174     24  [ovarian, cancer, common, condition, women, se...
1440     29  [well, known, much, soda, increase, risk, diab...

[1200 rows x 2 columns]

In [16]:
len(train_dataset)

1200

In [17]:
train_dataset["author"].value_counts()

author
23    46
2     44
8     44
16    44
7     43
1     43
17    42
6     42
21    41
12    41
19    41
5     41
26    41
11    40
20    40
18    40
30    40
25    40
14    40
9     39
3     39
24    39
4     38
22    38
15    38
29    37
10    36
27    36
13    36
28    31
Name: count, dtype: int64

In [18]:
# Test Dataset
test_dataset = dataset.drop(train_dataset.index)

In [19]:
test_dataset

     author                                            article
15        1  [doubt, edinburgh, huge, tourist, attraction, ...
20        1  [past, scottish, conservative, election, parti...
21        1  [joke, often, find, written, toilet, walls, pr...
24        1  [suspect, different, scottish, folk, trip, abr...
25        1  [small, assembly, rather, embarrassed, anonymo...
...     ...                                                ...
1478     30  [seven, score, five, years, abraham, lincoln, ...
1485     30  [capitalism, seems, stranded, passengers, vehi...
1495     30  [one, bad, thing, days, like, monday, wednesda...
1498     30  [people, smart, enough, write, constitution, f...
1499     30  [imagine, airline, putting, worst, foot, forwa...

[300 rows x 2 columns]

In [20]:
len(test_dataset)

300

### Build Vocabulary

> Create a token set which holds all the tokens in train dataset and a token named as ***\<UNKNOWN>***, for tokens may appear in test dataset but does not appear in train dataset.

In [21]:
total_tokens = 0
token_set = set()
for _, tokens in train_dataset["article"].items():
  total_tokens += len(tokens)
  for token in tokens:
    token_set.add(token)

# Add <UNKNOWN> to token set for occurence of words that are not in corpus.
token_set.add("<UNKNOWN>")

In [22]:
print(f"Corpus size: {total_tokens}, Vocabulary size: {len(token_set)}\n")
print("First 10 tokens:")
i = 0
for token in token_set:
  if i >= 10:
    break
  print(token)
  i += 1

Corpus size: 453981, Vocabulary size: 32366

First 10 tokens:
butterfly
clearest
duties
glued
vulgar
wounding
onlooker
clump
fronted
regulators

### Vectorization


> token2idx: {token: token_idx}

> Create train_vector_df with respect to structure [label, vector].
vector is calculated using each tokens term frequency. vector's size is equal to vocabulary size (vocab_size).

In [23]:
# token to index mapping
token2idx = {}
for idx, term in enumerate(token_set):
  token2idx.update({term:idx})

In [24]:
print(f"Size: {len(token2idx)}\n\nTerms and Indexes:")
i = 0
for key in token2idx:
  if i >= 10:
    break
  print(f"{key}: {token2idx[key]}")
  i += 1

Size: 32366

Terms and Indexes:
butterfly: 0
clearest: 1
duties: 2
glued: 3
vulgar: 4
wounding: 5
onlooker: 6
clump: 7
fronted: 8
regulators: 9

In [25]:
# Document vectors of Train Set
train_vector_df = None
vocab_size = len(token_set)
article_vectors = []

for _, row in train_dataset.iterrows():
  vector = [0.0] * vocab_size
  for token in row["article"]:
    vector[token2idx[token]] += 1

  # Normalize the vectors by dividing TFs to number of tokens in the article
  for token in set(row["article"]):
    idx = token2idx.get(token, token2idx.get("<UNKNOWN>"))
    vector[idx] /= len(row["article"])

  article_vectors.append([row["author"], vector])

train_vector_df = pd.DataFrame(article_vectors, columns=["author", "vector"])

### Model Training

> Create a dictionary that holds a vector for each author. **{author: vector}**

In [26]:
import numpy as np

#Â create a dictionary for author vectors, {author: author_vector}
author_vectors = {}
for author in authors:
  author_vectors.update({author:np.array([0.0] * vocab_size)})

# convert train dataset vectors to numpy arrays
#Â calculate author vectors using element-wise addition for each author
for _, row in train_vector_df.iterrows():
  vector = np.array(row["vector"])
  author_vectors[row["author"]] += vector

In [27]:
# First 20 element of each author's vector
for author in authors:
  print(f"Author {author}: {author_vectors[author][:20]}\n")

Author 1: [0.         0.         0.00447427 0.         0.         0.
 0.         0.         0.         0.         0.         0.00230947
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 2: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.00226244 0.        ]

Author 3: [0.         0.         0.00726927 0.00227273 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 4: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.00205339 0.         0.         0.
 0.00210526 0.00276243]

Author 5: [0.         0.         0.00228311 0.         0.         0.
 0.         0.         0.         0.00250627 0.         0.
 0.         0.         0.         0.00246914 0.         0.
 0.         0.        ]

Author 6: [0.         0.         0.00961538 0.         0.         0.
 0.         0.         0.         0.01530612 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 7: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.00230947 0.00297619 0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 8: [0.         0.00151745 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 9: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Author 10: [0.         0.         0.0013089  0.         0.         0.00379551
 0.         0.00106157 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.00131234 0.        ]

Author 11: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.00119332
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 12: [0.         0.         0.00755495 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 13: [0.         0.         0.         0.00185874 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 14: [0.         0.         0.00298507 0.         0.00144718 0.
 0.         0.         0.00628931 0.         0.         0.
 0.         0.         0.         0.         0.00342466 0.
 0.         0.        ]

Author 15: [0.        0.        0.        0.        0.        0.        0.
 0.        0.        0.        0.        0.0021322 0.        0.
 0.        0.        0.        0.        0.        0.       ]

Author 16: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.00239234
 0.         0.        ]

Author 17: [0.         0.         0.         0.         0.         0.00239234
 0.         0.         0.         0.00504549 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 18: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.00176056 0.         0.
 0.0097561  0.         0.         0.         0.         0.
 0.         0.        ]

Author 19: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.01383836 0.00103306 0.
 0.04783002 0.         0.         0.         0.         0.
 0.         0.        ]

Author 20: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.00882547 0.         0.00214592
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 21: [0.         0.         0.00461538 0.         0.         0.
 0.         0.         0.         0.01275502 0.         0.
 0.01376053 0.         0.         0.         0.         0.
 0.         0.        ]

Author 22: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.002331
 0.         0.         0.         0.         0.         0.
 0.         0.00200401]

Author 23: [0.00235849 0.         0.         0.00330033 0.         0.
 0.         0.00287356 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

Author 24: [0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.00258398
 0.         0.        ]

Author 25: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Author 26: [0.         0.         0.         0.         0.0023753  0.
 0.00276243 0.         0.         0.         0.         0.
 0.         0.002      0.         0.         0.         0.
 0.         0.        ]

Author 27: [0.      0.      0.      0.      0.      0.      0.      0.      0.
 0.00625 0.      0.      0.      0.      0.      0.      0.      0.
 0.      0.     ]

Author 28: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Author 29: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Author 30: [0.         0.00396825 0.         0.         0.         0.
 0.         0.         0.         0.00363636 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.        ]

### Similarity Measure: Cosine

> Defining a function which calculates cosine similarity between vectors of the same dimension.

In [28]:
def cosine_sim(vector1, vector2):
  dot_product = np.dot(vector1, vector2)  #Â dot product of the vectors
  magnitude1 = np.linalg.norm(vector1)    # length of vector1
  magnitude2 = np.linalg.norm(vector2)    # length of vector2

  cosine_similarity = dot_product / (magnitude1 * magnitude2)
  return cosine_similarity

### Testing and Result

> Calculate the vector for each review in test_dataset with term frequencies. Predict labels for all reviews using cosine similarity. Finally compare predictions with real labels and calculate the success rate, print out the wrong predictions paired with correct authors.

In [29]:
# Document vectors of Test Set
test_vector_df = None
vocab_size = len(token_set)
test_article_vectors = []

for _, row in test_dataset.iterrows():
  vector = [0.0] * vocab_size
  for token in row["article"]:
    idx = token2idx.get(token, token2idx.get("<UNKNOWN>"))
    vector[idx] += 1

  # Normalize the vectors by dividing TFs to number of tokens in the article
  for token in set(row["article"]):
    idx = token2idx.get(token, token2idx.get("<UNKNOWN>"))
    vector[idx] /= len(row["article"])

  test_article_vectors.append([row["author"], vector])

test_vector_df = pd.DataFrame(test_article_vectors, columns=["author", "vector"])

In [30]:
# test_authors: true authors of articles
test_authors, test_vectors  = test_vector_df.iloc[:,0], test_vector_df.iloc[:,1]
test_authors.value_counts()

author
28    19
13    14
10    14
27    14
29    13
22    12
4     12
15    12
24    11
9     11
3     11
11    10
25    10
14    10
18    10
20    10
30    10
12     9
5      9
19     9
21     9
26     9
6      8
17     8
1      7
7      7
2      6
8      6
16     6
23     4
Name: count, dtype: int64

In [31]:
# make all predictions
predicted_authors = []  # list of predictions
for vector in test_vectors:
  similarities = []
  for author in author_vectors:
    similarities.append(cosine_sim(np.array(vector), author_vectors[author]))
  max_idx = 0
  max_sim = similarities[0]
  for i in range(1, len(similarities)):
    if similarities[i] > max_sim:
      max_sim = similarities[i]
      max_idx = i
  predicted_authors.append(str(max_idx+1))

In [32]:
correct_predictions = 0
for idx, predicted_author in enumerate(predicted_authors):
  if predicted_author == test_authors[idx]:
    correct_predictions += 1

success_rate = correct_predictions / len(predicted_authors)
print(f"Success rate: {success_rate:.4g}")

Success rate: 0.7733

In [33]:
# Uncorrect predictions
print("Author\tPrediction")
for idx, predicted_author in enumerate(predicted_authors):
  if predicted_author != test_authors[idx]:
    print(f"{test_authors[idx]:^6}\t{predicted_author:^10}")

Author	Prediction
  1   	    3
  1   	    5
  1   	    20
  1   	    4
  2   	    3
  2   	    3
  3   	    10
  3   	    18
  3   	    2
  3   	    2
  4   	    7
  4   	    2
  4   	    2
  4   	    2
  4   	    1
  4   	    10
  4   	    3
  4   	    1
  4   	    2
  6   	    10
  6   	    1
  6   	    3
  6   	    10
  6   	    10
  8   	    22
  8   	    28
  8   	    6
  9   	    11
  9   	    11
  9   	    16
  9   	    24
  10  	    5
  12  	    26
  13  	    14
  14  	    26
  14  	    26
  14  	    22
  14  	    12
  14  	    22
  15  	    13
  18  	    19
  18  	    19
  18  	    19
  19  	    11
  20  	    10
  22  	    14
  24  	    16
  24  	    16
  26  	    14
  26  	    22
  27  	    23
  27  	    11
  27  	    23
  28  	    12
  28  	    12
  28  	    8
  28  	    12
  28  	    8
  28  	    26
  28  	    12
  28  	    26
  28  	    12
  29  	    16
  29  	    27
  29  	    11
  29  	    11
  30  	    15
  30  	    21